*{
  margin: 0;
  padding: 0;
}
body{
  padding: 30px;
}
.content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.grid{
  display:grid;
  grid-template-columns: repeat(3, 210px);
  grid-template-rows: repeat(3, 210px);
}
