*{
  margin: 0;
  padding: 0;
}
.grid{
  display:grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(6, 150px);
}

.erste{
background-color: black;
}
.zweite{
background-color: white;
}
.dritte{
  background-color: black;
}
.vierte{
  background-color: white;
}
.fünfte{
  background-color: black;
}
.sechste{
  background-color: white;
}
.siebte{
  background-color: black;
}
.achte{
  background-color: white;
}
.neunte{
  background-color: black;
}
